provider "aws" {
  alias  = "{{ tfprovider_alias }}"
  region = "{{ tfprovider_region }}"

  default_tags {
    tags = {
      Team         = "Tech-Land-Manufacturing@enverus.com"
      Dataset      = "land"
      SourceCode   = "https://github.com/enverus-ea/land.llandman"
      Component    = "llandman"
      BusinessUnit = "ea"
      Product      = "courthouse"
      Environment  = "{{ env }}"
    }
  }
}

provider "awscc" {
  alias  = "{{ tfprovider_alias }}"
  region = "{{ tfprovider_region }}"
}
