name: Lambda Layer Pipeline

on:
  push:
    branches:
      # - dev
      - outputs
    paths:
      - 'lambda-layer/requirements.txt'

# Use the Bash shell regardless whether the GitHub Actions runner is ubuntu-latest, macos-latest, or windows-latest
defaults:
  run:
    shell: bash

jobs:
  dev-use1:
    uses: ./.github/workflows/publish-layer.yml
    with:
      env: dev
      aws-region: us-east-1
