name: Real-Time Pipeline

on:
  push:
    branches:
      - dev_
      - refactor
    # paths:
    #   - 'realtime/**'
  workflow_run: # In order for this to work, you must use the default repo branch.
    workflows: ["Lambda Layer Pipeline"]
    branches: [dev_]
    types:
      - completed

jobs:
  dev-use1:
    uses: ./.github/workflows/tfapply.yml
    with:
      data-pipeline: realtime
      env: dev
      aws-env-dir: dev-use1
      aws-region: us-east-1

  
  # dev-usw2:
  #   # base_ref is the target branch
  #   if: github.event_name == 'pull_request' && github.event.base_ref == 'main'
  #   uses: ./.github/workflows/tfapply.yml
  #   with:
  #     env: prod # Change this to 'review' or 'prod' as needed
  #     aws-env-dir: dev-usw2
  #     aws-region: us-west-2
