name: Real-Time Pipeline

on:
  push:
    branches:
      - dev
    paths:
      - 'realtime/**'
  workflow_run: # In order for this to work, you must use the default repo branch.
    workflows: ["Lambda Layer Pipeline"]
    branches: [dev]
    types:
      - completed

jobs:
  dev-use1:
    if: github.event_name == 'push' || ${{ github.event.workflow_run.outputs.env == 'dev' }}
    uses: ./.github/workflows/tfapply.yml
    with:
      data-pipeline: realtime
      env: dev
      aws-env-dir: dev-use1
      aws-region: us-east-1
      lambda-role-name: llandman-dev-lambda-exec-role
      deploy: 'false' # must be set to 'true' to run `terraform apply` job

  
  # dev-usw2:
  #   # base_ref is the target branch
  #   if: github.event_name == 'pull_request' && github.event.base_ref == 'main'
  #   uses: ./.github/workflows/tfapply.yml
  #   with:
  #     env: prod # Change this to 'review' or 'prod' as needed
  #     aws-env-dir: dev-usw2
  #     aws-region: us-west-2
